@import '../../styles/contants.scss';

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center; // Acest lucru va centra container-ul pe verticală
    align-items: center; // Acest lucru va centra container-ul pe orizontală
    padding: 0;
    margin: 0;

    .container {
        width: 80%; // Ajustează această valoare după cum este necesar
        max-width: 1200px; // O lățime maximă, dacă este necesar
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0; // Eliminăm orice margin implicit

        >div {
            flex: 1;
            // Asigură-te că nu există margini sau padding-uri implicite care să adauge spațiu suplimentar
            margin: 0;
            padding: 0;
        }

        .leftSide, .rightSide {
            // Dacă mai există stiluri pentru .leftSide și .rightSide, asigură-te că sunt eliminate sau ajustate corespunzător
            // De exemplu, dacă .leftSide și .rightSide nu sunt necesare, le poți elimina complet din SCSS
        }

        .stats {
            // Ajustează sau elimină orice stiluri care pot adăuga spațiu suplimentar
            padding: 0;
            margin: 0;
        }
    }
}
